@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
svg:not(:root) {
  overflow: visible;
}

* {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

body {
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  box-sizing: border-box;
}

.test {
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

::selection {
  background: #373a43;
  color: #fff;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #373a43;
}

input,
textarea,
select,
button {
  font: inherit;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 7rem;
  padding-right: 7rem;
  box-sizing: border-box;
}

.navigation__cover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: wheat;
  z-index: 5;
  visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
  transition: transform 0.5s, visibility 0s 0.5s;
}
.navigation__cover.active {
  visibility: visible;
  transform: translateY(0);
  transition: transform 0.5s;
}

.positioning {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: -5rem 0;
}

.cover__logo {
  width: 120px;
  margin-bottom: -4rem;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.list__box,
.nav--list {
  position: relative;
}

.nav--link {
  color: #fff;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 4rem;
}

.nav--list a {
  display: block;
}
.nav--list:hover a {
  color: #f95;
}

.header {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  color: #fff;
  background-color: transparent;
  position: fixed;
  z-index: 3;
}
.header.active {
  background-color: #000;
}
@media (max-width: 700px) {
  .header p {
    display: none;
  }
}
.header__bottom {
  bottom: -2px;
  left: 0;
  height: 3rem;
  width: 45vw;
  position: absolute;
  background-color: #fff;
  z-index: 2;
}

.logo {
  display: flex;
  flex: 1;
  text-align: left;
  cursor: pointer;
}
.logo--link {
  width: 80px;
  margin-left: 1rem;
}
@media (max-width: 700px) {
  .logo--link {
    width: 70px;
  }
}
@media (max-width: 600px) {
  .logo--link {
    width: 60px;
  }
}
.logo--name {
  font-size: 3rem;
  font-weight: 300;
}
.logo--name--left {
  flex: 1;
  flex-grow: 2.7;
  text-align: left;
  color: transparent;
  transition: all 0.5s ease-in;
}
.logo--name--left.active {
  color: #fff;
  transition: all 0.5s ease-in;
}
.logo--name--center {
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
}
.logo--name--center::after {
  content: "";
  margin-top: 20px;
  left: calc(50% - 60px);
  bottom: -14px;
  height: 2px;
  position: absolute;
  width: 118px;
  background-color: #ffc400;
}
.logo--name--center#text {
  cursor: pointer;
}

.header__btn {
  position: relative;
  display: flex;
  flex: 1;
  width: 40px;
  justify-content: right;
  margin-right: 3rem;
}
.header__btn__cover {
  margin: 1.5rem 3rem 0 auto;
  z-index: 6;
}
.header__btn:hover .btn__inner,
.header__btn:hover .btn__inner::after,
.header__btn:hover .btn__inner::before {
  background-color: #cfd6da;
}
.header__btn.active .btn__inner {
  background-color: transparent !important;
  transition: all 0.5s ease;
}
.header__btn.active .btn__inner::before {
  transform: translate3d(0, 7px, 0) rotate(45deg);
  transition: all 1s ease;
}
.header__btn.active .btn__inner::after {
  transform: translate3d(0, -13px, 0) rotate(-45deg);
  transition: all 1s ease;
}

.btn__box {
  position: relative;
  width: 40px;
  height: 40px;
}

.btn__inner,
.btn__inner::after,
.btn__inner::before {
  content: "";
  position: absolute;
  left: 0;
  width: 40px;
  height: 2.5px;
  background-color: #fff;
  transition: all 1s ease;
}

.btn__inner {
  top: 50%;
  transition: all 1s ease;
}
.btn__inner::before {
  top: -10px;
  transition: all 0.5s ease;
}
.btn__inner::after {
  bottom: -10px;
  transition: all 0.5s ease;
}

.description {
  margin: 40px 0;
  font-weight: 300;
  font-size: 1.3rem;
  padding: 0 4rem;
}

/* ---button--- */
.order__button {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 0 30px 0;
}

.btn__container {
  width: 100px;
  height: 35px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  position: absolute;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 35px;
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  outline: none;
  transition: 1s ease-in-out;
}
.btn svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #ffc400;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}
.btn:hover {
  transition: 1s ease-in-out;
  background: #ffc400;
}
.btn:hover svg {
  stroke-dashoffset: -480;
}

.order--link {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
}
.order--link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(50% - 25px);
  background-color: #ffc400;
  width: 50px;
  height: 2px;
  transition: all 1.5s ease-in-out;
}

.btn__container:hover .order--link::before {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* ---button--- */
.working__info {
  font-size: 0.8rem;
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.phone {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
}
.phone__info {
  display: flex;
  margin: 0 2.5rem;
}

.time {
  font-size: 1.1rem;
  font-weight: 300;
}

.working__time {
  margin: 0 2.5rem 0 6rem;
}

.dumb__info {
  margin: 0 5px;
  font-size: inherit;
  font-weight: 400;
  color: #ffc400;
}

.main__header {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.background-photo {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__cover::after {
  background-color: rgba(44, 43, 43, 0.8);
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  top: 0;
  height: 100vh;
  left: 0;
}

.info__for__customer {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  z-index: 2;
}

.bottom__text {
  margin-top: 0.3rem;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  align-items: center;
  -webkit-text-stroke: 0.05rem #000;
  -webkit-text-fill-color: #fff;
}

.main__about {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.main__about__illustrations {
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.about__info {
  display: flex;
  flex-direction: row;
  margin-left: -12px;
  margin-right: -12px;
}
.about__info__logo {
  position: relative;
  flex: 0 0 41.666%;
  max-width: 41.666%;
  padding-left: 12px;
  padding-right: 12px;
}
.about__info__text {
  position: relative;
  padding: 0 12px;
  font-size: 1.2rem;
  z-index: 1;
  line-height: 2.1rem;
}
.about__info__h2 {
  position: relative;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 800;
  margin-bottom: 2.5rem;
}
.about__info__h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4.8rem;
  height: 0.13rem;
  background-color: #ea2929;
}
.about__info__h3 {
  position: absolute;
  pointer-events: none;
  left: 1rem;
  top: -2.5rem;
  font-size: 11rem;
  line-height: 8.3rem;
  font-weight: 900;
  -webkit-text-stroke: 0.05rem #cfd6da;
  -webkit-text-fill-color: #fff;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  z-index: -1;
}

.illustrations {
  position: relative;
  display: flex;
  max-width: 100%;
  margin-left: 12px;
  overflow: hidden;
}

.three__illustrations {
  flex: 0 0 33.333%;
  max-width: 33.333%;
}

.iimg {
  object-fit: cover;
}
.iimg--left {
  max-width: 88%;
  padding-top: 4rem;
  padding-right: 1rem;
}
.iimg--center {
  max-width: 95.333%;
  padding-left: 0.5rem;
}
.iimg--right {
  max-width: 100%;
  padding-top: 11rem;
  padding-left: 0.5rem;
}
@media (max-width: 991px) {
  .iimg--right {
    padding-top: 10rem;
  }
}
@media (max-width: 950px) {
  .iimg--right {
    padding-top: 9.5rem;
  }
}
@media (max-width: 900px) {
  .iimg--right {
    padding-top: 9rem;
  }
}

.text__illustration {
  position: absolute;
  top: 17rem;
  left: 12rem;
  font-size: 7rem;
  line-height: 4rem;
  font-weight: 900;
  pointer-events: none;
  -webkit-text-stroke: 0.05rem #cfd6da;
  -webkit-text-fill-color: transparent;
  z-index: 2;
}

.main__production {
  padding: 2.5rem 0;
  position: relative;
}

.content__name {
  position: relative;
  font-size: 3rem;
  font-weight: 300;
  letter-spacing: 3.7px;
  margin-bottom: 35px;
  text-transform: uppercase;
}
.content__name::before {
  content: "";
  position: absolute;
  left: -1.5rem;
  top: 0;
  width: 0.15rem;
  height: 4rem;
  background-color: #ffdc68;
}

.production {
  overflow: hidden;
}

.owl-stage-outer {
  margin-left: 12px;
}

.coffee__img {
  margin-bottom: 20px;
}

.popup-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: transparent;
  transition: all 0.3s ease-in-out;
}
.popup-info:hover {
  color: #fff;
  background-color: rgba(112, 112, 112, 0.8);
}

.product__img {
  position: relative;
}
.product__img span {
  font-size: 2.5rem;
  font-weight: 300;
}

.product__name {
  color: #2c2b2b;
  padding-right: 20px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 20px;
}

.white-popup {
  position: relative;
  background: #fff;
  padding: 25px 100px 30px 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.all__products {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.all__products--box {
  height: 50px;
  width: 120px;
  background-color: #ffdc68;
}
.all__products--link {
  font-size: 1rem;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
  display: flex;
}

/* promo */
.main__promo {
  position: relative;
  display: flex;
  margin: 120px 0;
  padding: 0 0;
  width: 100vw;
  height: 400px;
}

.promo__background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}
.promo__background__shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-shadow: 3px 0px 17px 8px rgba(44, 43, 43, 0.63) inset, 1px 1px 5px #fff;
  z-index: 1;
}
.promo__background__img {
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  z-index: -1;
}
.promo__background__text {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.promo__area {
  position: relative;
  display: flex;
  height: 100%;
  margin: 0 auto;
}
.promo__area__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 2;
}

.promo__window {
  position: relative;
  display: flex;
  height: 180px;
  max-width: 525px;
  padding: 10px;
  background-color: #fff;
  transition: all 0.5s ease;
}
.promo__window:hover {
  box-shadow: 5px 2px 16px 6px rgba(44, 43, 43, 0.27);
  padding: 15px 15px 15px 10px;
  transition: all 0.5s ease;
}
.promo__window:hover .promo__img {
  width: 195px;
  max-width: 195px;
  transition: all 1s ease;
}
.promo__window:hover .promo__title {
  margin-top: -5px;
  transition: all 1s ease;
}
.promo__window:hover .promo__data {
  margin-bottom: -5px;
  margin-right: 5px;
  transition: all 1s ease;
}
.promo__window__block {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 5px;
}

.promo__window1 {
  padding: 10px;
}

.promo__icon {
  position: absolute;
  top: -30px;
  right: -30px;
  width: 100px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.promo__img {
  max-width: 180px;
  transition: all 1s ease;
}
.promo__img__block {
  display: flex;
  align-items: center;
}

.promo__title {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 10px;
  transition: all 1s ease;
}
.promo__title h3 {
  font-weight: 400;
}

.promo__desription {
  flex: 1;
  font-size: 0.9rem;
  font-weight: 300;
}

.promo__data {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  color: #707070;
  margin-bottom: 5px;
  transition: all 1s ease;
}

.promo__info--link {
  transition: all 2s ease;
}
.promo__info--link:hover {
  color: #ffdc68;
  transition: all 1s ease;
}
.promo__info--link:hover .black__arrow {
  opacity: 0;
  transition: all 0.9s ease;
}

.arrow__container {
  display: inline-block;
  position: relative;
  width: 9px;
  height: 9px;
  margin-left: 5px;
}

.right__arrow {
  width: 9px;
  transition: all 2s ease;
}

.black__arrow,
.yellow__arrow {
  position: absolute;
  top: 0;
  left: 0;
}

.text__areas {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.text__areas span {
  display: flex;
  align-items: center;
  font-size: 3rem;
  font-weight: 800;
  -webkit-text-stroke: 0.05rem #000;
  -webkit-text-fill-color: transparent;
}

.first {
  margin-right: 4rem;
  margin-left: 4rem;
}

.second {
  margin-right: 7rem;
  margin-left: 7rem;
}

.third {
  margin-right: 20rem;
  margin-left: 20rem;
}

.fourth {
  margin-right: 23rem;
  margin-left: 23rem;
}

.first__col {
  display: flex;
  justify-content: left;
  margin-right: 0;
}

.second__col {
  display: flex;
  justify-content: right;
  margin-left: 0;
}

.first__row {
  grid-row-start: 8;
  grid-row-end: 9;
}

.second__row {
  grid-row-start: 7;
  grid-row-end: 8;
}

.third__row {
  grid-row-start: 2;
  grid-row-end: 3;
}

.fourth__row {
  grid-row-start: 1;
  grid-row-end: 2;
}

.main__contacts {
  position: relative;
  padding: 3rem 2rem;
}

.container__flex {
  display: flex;
  justify-content: space-between;
}

.contacts__header {
  position: relative;
  line-height: 7rem;
  letter-spacing: 3.7px;
  font-size: 3rem;
  font-weight: 300;
}
.contacts__header::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0.8rem;
  width: 7.5rem;
  height: 2px;
  background-color: #ffdc68;
}

.contacts__block {
  display: flex;
  align-items: center;
  line-height: 3rem;
  letter-spacing: 1.3px;
  font-size: 1.4rem;
  font-weight: 300;
}
.contacts__block__text {
  margin-left: 10px;
}
.contacts__block .phone {
  color: #000;
  margin-left: 10px;
}

.centred__items {
  display: flex;
  align-items: center;
}

.svg__icon {
  width: 7px;
}

.google__map {
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.google__map iframe {
  left: 0;
}

.footer {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-top: 5rem;
  box-sizing: border-box;
}
.footer__logo {
  width: 120px;
  margin-right: 5rem;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  z-index: 2;
}
.footer__dumb__block {
  top: -3.5rem;
  left: 0;
  height: 3.5rem;
  width: 45vw;
  position: absolute;
  background-color: rgba(44, 43, 43, 0.8);
  z-index: 2;
}

.upper__footer {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
  height: 15rem;
  width: 100%;
  background-color: transparent;
  padding-left: 4rem;
  padding-right: 15rem;
  z-index: 2;
}
.upper__footer::before {
  content: "";
  position: absolute;
  top: 5%;
  left: 5%;
  height: 2px;
  width: 90%;
  border-radius: 19%;
  background-color: #cfd6da;
  z-index: 2;
}

.h3__footer {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 0.5rem;
  color: #fff;
}

.site__navigation__block {
  display: flex;
  flex-direction: column;
  z-index: 2;
}
.site__navigation__block ul {
  -webkit-columns: 2;
  -moz-columns: 2;
  columns: 2;
}
.site__navigation__block ul li {
  list-style-position: inside;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  line-height: 1.8rem;
}

.footer__link {
  transition: all 1s ease;
}
.footer__link:hover {
  color: #ffdc68;
  transition: all 1s ease;
}

.footer__font {
  font-size: 1.2rem;
  font-weight: 300;
  color: #fff;
}

.contacts__mail {
  margin-left: 2rem;
  z-index: 2;
}

.contacts__socials {
  z-index: 2;
}

.footer__insta__block {
  display: flex;
  align-items: center;
}

.footer__svg {
  height: 16px;
}
.footer__svg svg {
  transition: all 1s ease;
}
.footer__svg:hover svg {
  fill: #ffdc68;
  transition: all 1s ease;
}

.footer__socials__name {
  margin-left: 0.35rem;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(44, 43, 43, 0.8);
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  z-index: 1;
}

.background__logo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 14.7727272727vw;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  z-index: -1;
}

.lower__footer {
  display: flex;
  position: relative;
  height: 3rem;
  background-color: #ffc400;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  color: #fff;
}

.footer__info {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
}
.footer__info--link {
  color: #fff;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  .header__bottom {
    height: 4rem;
  }
}
/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .iimg--center {
    padding: 2rem 1rem 0 0.5rem;
  }

  .iimg--right {
    padding-top: 10rem;
  }

  .text__illustration {
    top: 14rem;
    left: 9rem;
    font-size: 6rem;
  }

  .header__bottom {
    height: 4rem;
  }

  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  .product__img span {
    font-size: 2rem;
  }

  .all__products--box {
    height: 35px;
    width: 95px;
  }

  .all__products--link {
    font-size: 0.8rem;
  }

  .iimg--center {
    padding-top: 2.5rem;
  }

  .text__illustration {
    top: 11rem;
    left: 8rem;
    font-size: 5rem;
  }

  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .main__about__illustrations {
    padding-top: 3rem;
  }

  .iimg--center {
    padding-top: 2.5em;
  }

  .iimg--right {
    padding-top: 8.5rem;
  }

  .text__illustration {
    top: 10rem;
    left: 7rem;
    font-size: 5rem;
  }

  .header__bottom {
    height: 2.5rem;
  }

  .bottom__text {
    font-size: 2rem;
  }

  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .about__info {
    flex-direction: column;
    margin-left: 12px;
  }
  .about__info__logo {
    flex: 0 0 50.66%;
    max-width: 50.66%;
  }
  .about__info__text {
    flex: 0 0 81%;
    max-width: 80.189%;
  }
}
@media (max-width: 700px) {
  .content__name {
    font-size: 2.5rem;
  }

  .all__products--link {
    font-size: 0.9rem;
  }

  .all__products--box {
    height: 42px;
    width: 108px;
  }

  .iimg--right {
    padding-top: 8rem;
  }

  .iimg--center {
    padding-top: 2.5rem;
  }

  .text__illustration {
    font-size: 4rem;
  }

  .about__info__text {
    font-size: 1.2rem;
    flex: 0 0 87%;
    max-width: 86.189%;
  }
  .about__info__h2 {
    font-size: 2.5rem;
  }
  .about__info__h3 {
    font-size: 10rem;
  }
}
@media (max-width: 630px) {
  .product__img span {
    font-size: 2rem;
  }

  .all__products--box {
    height: 38px;
    width: 95px;
  }

  .all__products--link {
    font-size: 0.8rem;
  }

  .main__about__illustrations {
    padding-top: 0;
  }

  .iimg--center {
    padding-top: 3rem;
  }

  .btn__inner,
.btn__inner::after,
.btn__inner::before {
    height: 1.5px;
    width: 35px;
  }

  .btn__inner::after {
    bottom: -8px;
  }

  .btn__inner::before {
    top: -8px;
  }

  .header__btn {
    margin-right: 1rem;
  }

  .about__info__text {
    font-size: 1.1rem;
    flex: 0 0 100%;
    max-width: 91.189%;
  }
  .about__info__h2 {
    font-size: 2.3rem;
  }
  .about__info__h3 {
    font-size: 9rem;
  }
}
@media (max-width: 575px) {
  .content__name {
    margin-left: 1rem;
  }
  .content__name::before {
    top: -8px;
  }

  .text__illustration {
    font-size: 3.5rem;
    top: 10rem;
    left: 5rem;
  }

  .phone,
.time {
    font-size: 0.9rem;
  }

  .working__time {
    margin: 0 2rem 0 4rem;
  }

  .phone__info {
    margin: 0 2rem;
  }

  .order--link {
    font-size: 1rem;
  }
  .order--link::before {
    width: 45px;
    left: calc(50% - 23px);
    height: 1.5px;
  }

  .logo--name--center {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.2rem;
  }

  .header__bottom {
    height: 2rem;
  }

  .bottom__text {
    font-size: 1.5rem;
    -webkit-text-stroke: 0.03rem #000;
  }

  .container {
    padding: 0 1.5rem;
  }

  .about__info__text {
    font-size: 1.1rem;
  }
  .about__info__h2 {
    line-height: 3rem;
    font-size: 2.3rem;
  }
  .about__info__h3 {
    left: 1rem;
    top: -1.5rem;
    line-height: 7.3rem;
    font-size: 8rem;
  }
}
@media (max-width: 520px) {
  .popup-info:hover {
    max-width: 97.5%;
  }

  .product__img span {
    font-size: 2.5rem;
  }

  .text__illustration {
    font-size: 4rem;
    top: 25rem;
    left: 3rem;
    transform: rotate(15deg);
  }

  .main__about {
    padding-bottom: 0;
  }

  .iimg--center {
    max-width: 100%;
    padding-left: 0;
  }

  .iimg--right,
.iimg--left,
.first__box,
.third__box {
    display: none;
  }

  .three__illustrations {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .description {
    padding: 0 3rem;
  }

  .container {
    padding: 0 1rem;
  }

  .about__info__text {
    font-size: 1.1rem;
  }
  .about__info__h2 {
    font-size: 2.3rem;
  }
  .about__info__h3 {
    left: 1rem;
    top: -1.5rem;
    line-height: 7.3rem;
    font-size: 7.5rem;
  }
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  .all__products--box {
    height: 40px;
    widows: 95px;
  }

  .all__products--link {
    font-size: 0.8rem;
  }

  .text__illustration {
    left: 0.7rem;
  }

  .phone,
.time {
    font-size: 0.8rem;
  }

  .bi {
    font-size: 1rem;
  }

  .working__info {
    flex-direction: column-reverse;
    margin-top: 2rem;
  }

  .working__time {
    margin: 0.5rem 0;
  }

  .phone__info {
    margin: 1rem 0 0.5rem 0;
  }

  .container {
    padding: 0 1rem;
  }

  .about__info__text {
    font-size: 1.1rem;
  }
  .about__info__h2 {
    font-size: 2.2rem;
  }
  .about__info__h3 {
    left: 1rem;
    top: -1.5rem;
    line-height: 7.3rem;
    font-size: 7rem;
  }
}
@media (max-width: 440px) {
  .content__name::before {
    left: -1rem;
  }

  .text__illustration {
    font-size: 3.5rem;
    left: 2rem;
  }

  .description {
    font-size: 1.1rem;
  }

  .container {
    padding: 0 0.5rem;
  }

  .about__info__text {
    font-size: 1rem;
  }
  .about__info__h2 {
    font-size: 2.1rem;
  }
  .about__info__h3 {
    left: 1rem;
    top: -1.5rem;
    line-height: 7.3rem;
    font-size: 6.5rem;
  }
}
@media (max-width: 400px) {
  .content__name {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .content__name::before {
    top: -4px;
    height: 3rem;
  }

  .text__illustration {
    font-size: 3.3rem;
    left: 1rem;
    top: 22rem;
  }

  .logo--name--center {
    margin-bottom: 1.6rem;
  }

  .about__info__logo {
    flex: 0 0 53.66%;
    max-width: 53.66%;
  }
  .about__info__text {
    font-size: 1rem;
  }
  .about__info__h2 {
    font-size: 2rem;
  }
  .about__info__h3 {
    left: 1rem;
    top: -1.5rem;
    line-height: 7.3rem;
    font-size: 6rem;
  }
}
@media (max-width: 370px) {
  .product__img span {
    font-size: 2rem;
  }

  .text__illustration {
    left: 2rem;
    top: 21rem;
    font-size: 3rem;
  }

  .description {
    padding: 0 2rem;
  }

  .about__info__logo {
    flex: 0 0 60.66%;
    max-width: 60.66%;
  }
  .about__info__text {
    font-size: 0.95rem;
  }
  .about__info__h2 {
    font-size: 2rem;
  }
  .about__info__h3 {
    left: 1rem;
    top: -1.5rem;
    line-height: 7.3rem;
    font-size: 5.5rem;
  }
}
@media (max-width: 350px) {
  .text__illustration {
    font-size: 2.8rem;
    left: 1rem;
    top: 20rem;
  }

  .btn__inner,
.btn__inner::after,
.btn__inner::before {
    width: 30px;
  }

  .btn__inner::after {
    bottom: -7px;
  }

  .btn__inner::before {
    top: -7px;
  }

  .about__info__text {
    font-size: 0.9rem;
    line-height: 1.7rem;
  }
  .about__info__h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .about__info__h3 {
    left: 1rem;
    top: -1.1rem;
    line-height: 6.3rem;
    font-size: 5rem;
  }
}
/* Iphone 5 */
@media (max-width: 320px) {
  .text__illustration {
    left: 0.5rem;
    top: 17rem;
    font-size: 2.7rem;
  }

  .order--link {
    font-size: 1rem;
  }
  .order--link::before {
    bottom: 3px;
    height: 1.5px;
    width: 40px;
    left: calc(50% - 22px);
  }

  .btn {
    width: 90px;
    height: 32px;
  }
  .btn svg {
    width: 90px;
    height: 32px;
    left: 5px;
  }

  .about__info__logo {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .about__info__text {
    font-size: 0.85rem;
  }
  .about__info__h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  .about__info__h3 {
    line-height: 6rem;
    font-size: 4.5rem;
  }
}
@media (max-width: 300px) {
  .text__illustration {
    font-size: 2.4rem;
  }

  .logo--link {
    width: 50px;
  }

  .logo--name--center {
    font-size: 1.9rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .about__info__logo {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .about__info__text {
    font-size: 0.8rem;
    line-height: 1.7rem;
  }
  .about__info__h2 {
    font-size: 1.8rem;
  }
  .about__info__h3 {
    font-size: 4rem;
  }
}
@media (max-width: 270px) {
  .text__illustration {
    font-size: 2.1rem;
    top: 15rem;
  }

  .order--link {
    font-size: 0.85rem;
  }
  .order--link::before {
    bottom: 4px;
    height: 1.5px;
    width: 35px;
    left: calc(50% - 17px);
  }

  .btn {
    width: 75px;
    height: 27px;
  }
  .btn svg {
    width: 75px;
    height: 33px;
    left: 13px;
    top: 1px;
  }

  .about__info__logo {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .about__info__text {
    font-size: 0.8rem;
    line-height: 1.7rem;
  }
  .about__info__h2 {
    font-size: 1.6rem;
  }
  .about__info__h3 {
    font-size: 3.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
